<mat-tab-group>
  <mat-tab label="All Students">
    <div class="container-table">
      <form [formGroup]="form!">
        <div class="name-form"><p>Add New Subject</p></div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Subject Name</label
          >
          <input
            formControlName="subject_name"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >duration</label
            >
            <input
              formControlName="duration"
              type="text"
              class="form-control"
            />
          </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Teacher</mat-label>
            <mat-select formControlName="teacher_id">
              <mat-option value="{{data.teacher_id?._id}}" *ngFor="let data of subject">{{
                data.teacher_id?._id
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
        <button class="save" (click)="submitData()"><p>Save</p></button>
        <button class="reset"><p>Reset</p></button>
      </form>
    </div>

    <div class="title">
      <div class="head"><p>All Subject</p></div>
    </div>
    <div class="route">
      <p>Home <span> > All Subject</span></p>
    </div>
    <div class="container-table">
      <table>
        <tr class="header">
          <th>
            <p>Id</p>
          </th>
          <th>
            <p>Subject</p>
          </th>
          <th>
            <p>Teacher</p>
          </th>
          <th>
            <p>Phone</p>
          </th>
          <th>
            <p>E mail</p>
          </th>
          <th>
            <p>Duration</p>
          </th>
          <th>
            <p>Action</p>
          </th>
        </tr>
        <tr *ngFor="let data of subject">
          <td>
            <p>{{ data.id }}</p>
          </td>
          <td>
            <p>{{ data.subject_name }}</p>
          </td>
          <td>
            <p>
              {{ data.teacher_id?.first_name }} {{ data.teacher_id?.last_name }}
            </p>
          </td>
          <td>
            <p>{{ data.teacher_id?.phone }}</p>
          </td>
          <td>
            <p>{{ data.teacher_id?.email }}</p>
          </td>
          <td>
            <p>{{ data.duration }} menit</p>
          </td>
          <td>
            <button (click)="deleteSubject(data._id)" >Delete</button>
            <button routerLink="/subject/{{data._id}}">Edit</button>
          </td>
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
