<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image width="200" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h4>Full Name : </h4>
      {{studentData.first_name + ' ' + studentData.last_name}}
      <h4>Gender : </h4>
      {{studentData.gender}}
      <h4>Father Name : </h4>
      {{studentData.father_name}}
      <h4>Mother Name : </h4>
      {{studentData.mother_name}}
      <h4>DoB : </h4>
      {{studentData.date_of_birth}}
      <h4>Father Occupation : </h4>
      {{studentData.father_occupation}}
      <h4>Year Academic : </h4>
      {{studentData.year_academic}}
      <h4>Role : </h4>
      {{studentData.role}}
      <h4>Blood Group : </h4>
      {{studentData.blood_group}}
      <h4>Religion : </h4>
      {{studentData.religion}}
      <h4>Email : </h4>
      {{studentData.email}}
      <h4>Admission Date : </h4>
      {{studentData.addmission_date}}
      <h4>Kelas : </h4>
      {{studentData.kelas.class_name}}
      <h4>Address : </h4>
      {{studentData.address}}
      <h4>Phone : </h4>
      {{studentData.phone}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Edit</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  